<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de Lectores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Control de Lectores</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/lectores}">Home</a>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        

        <br>
        <div class="container">
            <div class="row">
                <h1>Lista de Lectores</h1>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/lectores/nuevo}" class="btn btn-secondary btn-sm mb3">Agregar Lector</a>
                </div>
            </div>
            <br>

            <table class="table table-striped table-bordered">         
                <thead class="table-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lector : ${lectores}">
                        <td th:text="${lector.nombres}">Nombre</td>
                        <td th:text="${lector.apellidos}">Apellido</td>
                        <td th:text="${lector.dni}">DNI</td>
                        <td th:text="${lector.telefono}">Telefono</td>
                        <td th:text="${lector.correo}">Correo</td>
                        <td>
                            <a th:href="@{/lectores/editar/{idlector}(idlector=${lector.idlector})}" class="btn btn-info">Editar</a>
                            <a th:href="@{/lectores/{idlector}(idlector=${lector.idlector})}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
